*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.calendar{
    margin: auto;
    width: 26vw;
    /* 25 vw plus 1vw of padding */
    border: 1px solid;
}
.month, .weekdays, .weekdays div, .days, .days div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}
.month{
    background-color: green;
    justify-content: space-between; 
    padding: 1vw;
    color: white;
}
.month i{
    cursor: pointer;
    color: gold;
}

.weekdays div, .days div{
    padding: 1vw;
    width: calc(25vw/7);
}
.weekdays{
    justify-content: space-between;
    background-color: gold;
    color: green;
}
.days{
    justify-content: space-between;
    flex-wrap: wrap;
}
.days :hover{
    background-color: green;
}
.today{
    background-color: gold;
}
.prev-date, .next-date{
    color: white;
}